@import 'fonts';
@import 'variables';
@import 'animations';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-padding-top: var(--header-height);
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Ubuntu', 'Inter', 'semi-bold', system-ui;

    @supports selector(::-webkit-scrollbar) {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@layer utilities {
  .underline-default {
    @apply underline underline-offset-2;
    text-decoration-skip-ink: none;
  }
}