@import 'normalize';
@import 'normalize_custom';
@import 'fonts';
@import 'variables';
@import 'animations';

:root {
	--accent-color: #c8d4ef;
	--text-color: #dfdfdf;
	--layout-color: rgb(71 97 163 / 28%);
	--header-height: 80px;
}

body {
	font-family: 'Ubuntu', 'Inter', 'semi-bold', system-ui;

	@supports selector(::-webkit-scrollbar) {
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
