input, button {
	border: none;
	&:focus {
		outline: none;
	}
	&:focus-visible {
		outline: 1px solid black;
	}
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}