.header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: var(--header-height);
	padding: 20px 0;
	color: var(--text-color);
	backdrop-filter: blur(10px);
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
	padding: 0 clamp(1.875rem, 0.3262rem + 5.8309vw, 3.125rem);
}

.logo {
	padding: 0 5px;
	font-weight: 700;
	font-size: 35px;

	span {
		font-weight: 400;
		font-style: italic;
	}
}

.linkList {
	display: flex;
	gap: 20px;
	font-size: clamp(0.9375rem, 0.207rem + 0.8117vw, 1.25rem);
}
