.socialButton {
	position: relative;

	&:hover {
		.icon {
			opacity: 0.8;
		}
	}
}

.socialIcon {
	position: absolute;
	inset-block-start: 50%;
	inset-inline-start: 0;
	z-index: 10;
	width: 30px;
	aspect-ratio: 1/1;
	translate: 100% -50%;
}