.link {
	position: relative;
}

.linkHoverImage {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	translate: -20% -30%;
	max-width: 5rem;
	max-height: 40px;

	path {
		stroke-dasharray: 800;
		stroke-dashoffset: 800;
		transition: stroke-dashoffset 0s ease;
	}

	&:hover,
	&:active {
		path {
			stroke-dashoffset: 0;
			transition: stroke-dashoffset 0.6s ease-in-out;
		}
	}
}
